---
layout: default
---

<body>

<div class="container">
  <ul class="nav nav-tabs">
				{% if page.category != "home" %}
				<li><a href="{{site.baseurl}}/">Home</a></li>
				{% endif %}
				<li><a href="workshops.html">Workshops</a></li>
				<li><a href="team.html">Team</a></li>
				<li><a href="support.html">Support</a></li>
				<li><a href="lessons.html">Lessons</a></li>
  </ul>
</div>

	
	
<img src="pic1.jpg" alt="hi" class="inline"/>

<section class="main-content">
<div id="the-carpentries-at-the-university-of-connecticut" class="section level2">
<h2>The Carpentries at the University of Connecticut</h2>
<p><a href="https://carpentries.org/">The Carpentries</a> is an international organization that offers two-day workshops that emphasize using best practices for engaging in reproducible data analysis. A typical workshop will introduce learners to the command line, version control, computer programming, and data hygeine. Our Software Carpentry, Library Carpentry, and Data Carpentry workshops following curricula that are developed collaboratively and using the latest research into best practices for teaching computer science content. We strive to foster a growth mindset in learners by hosting an inclusive learning environment with instructors who are representative of our learners.</p>
<p>If you are interested in learning more about taking one of our upcoming workshops or would like to learn how to host a workshop for your department or program feel free to <a href="mailto:timothy.e.moore@uconn.edu">contact us</a> with any questions. If you have already participated in a workshop or are interested in helping to teach a workshop or hosting a workshop of your own, please let us know by completing <a href="https://forms.gle/kY68CyRUKfrgEWik6">a brief survey</a>. Join Us!</p>
<p>We are a group of students, postdoc, staff, and faculty who are committed to building a community of excellence at UConn around the area of reproducible data analysis. As a Carpentries Partner Organization, we use two day Software Carpentry and Data Carpentry workshops to help members of the UConn community to grow in their computer programming skills. From these workshops we seek to build a community of excellence by training people to become workshop helpers and instructors. Also, we continue to engage learners by offering specialty workshops that go deeper into content or explore topics not covered by the typical Carpentries workshops.</p>
</div>
</section>


	<div class="footer">

	<div class="container-fluid">
		<div class="row  vertical-align">
			<div class="col-md-6 address">
				<h4>Contact:</h4>
				<p>The University of Connecticut</p>
				<p>Center for Open Research Resources & Equipment</p>
				<p>Rm 305 Philip E. Austin Building</p>
				<p>270 Middle Turnpike Rd</p>
				<p>Storrs, CT 06269</p>
				<p><a href="https://goo.gl/maps/tm6SXxDE8X2N6U8f8">Google Maps</a>
			</div>
			<div class="col-md-6">
				<div class="copy pull-right">
					<p>UM Software Carpentry &copy {{ site.time | date: '%Y' }}</p>
					<p>
						<a href="mailto:timothy.e.moore@uconn.edu">
							<i class="far fa-envelope fa-lg" style="color:white"></i>
						</a>
						<a href="https://github.com/{{ site.github_username }}">
							<i class="fab fa-github fa-lg" style="color:white"></i>
						</a>
					</p>
					{% if page.attribution != nil %}
						<p class="attribution">
							<a href={{page.attribution.link_to_image}}>Original background image</a> from {{page.attribution.author }} under <a href="{{page.attribution.license_link}}">{{page.attribution.license}} license</a>
						</p>
					{% endif %}
				</div>
			</div>
	    </div>
 	</div>
</div>

</body>
</html>
